.banner {
	
	min-height: 500px;
	text-align: center;
	background:url('img/banner.jpg') ;
	font-size: 20px;
}

.titulo-banner{
  margin-top:0px;
  font-size:50px;
  margin-bottom:10px;
  padding-top: 50px;
}


main {
	width: 80%;
	margin: auto;
}

header {
	width: 80%;
	margin: auto;
}

body {
	margin: 5%;
}

p {
	font-size: 20px;
}


a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📱 ";
}

a[class^="notas"]::before {
	content: "🔗 ";
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}